<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Some things you might want to know about mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>All the things you want to know about Mars</h1>
      <p>and more</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <!-- <img src="{{ mars.sloth_img }}" alt="Sloth"> -->
    <h2>Latest NASA News</h2>
    <h3>{{mars.Title}}</h3>
    {{mars.Paragraph}}
    <h3>Todays featured image - <img width="500" src="{{mars.featured_image}}"></h3>
    <h3>Facts about Mars and Earth</h3>
    {{mars.Facts | safe}}<br>

    {{mars.Hemispheres}}
    <h3></h3>
    <h3></h3>
    <h3></h3>
  </div>
  </div>
</body>

</html>
